@model PagedList.IPagedList<StudInfoSys.Models.Student>

<p>
    @Html.ActionLink("Create New", "Create", new { page = Model.PageNumber, sortOrder = ViewBag.CurrentSortOrder, searchString=ViewBag.CurrentSearchString })
</p>
<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Photo)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.FullName)*@
                @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParam, searchString = ViewBag.CurrentSearchString })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Email)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                
                <td>
                    <img class="photo-small" src='@Url.Action("GetImage", new { id = item.Id })' />
                </td>
                <td>
                    <span class="fullname">@Html.DisplayFor(modelItem => item.FullName)</span>
                </td>
                <td>
                    <span class="date-of-birth">@Html.DisplayFor(modelItem => item.DateOfBirth)</span>
                </td>
                <td>
                    <span class="address">@Html.DisplayFor(modelItem => item.Address)</span>
                </td>
                <td>
                    <span class="email">@Html.DisplayFor(modelItem => item.Email)</span>
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id, page = Model.PageNumber, sortOrder = ViewBag.CurrentSortOrder, searchString=ViewBag.CurrentSearchString }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id, page = Model.PageNumber, sortOrder = ViewBag.CurrentSortOrder, searchString=ViewBag.CurrentSearchString }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id, page = Model.PageNumber, sortOrder = ViewBag.CurrentSortOrder, searchString=ViewBag.CurrentSearchString }) |
                    @Html.ActionLink("View Registrations", "Index", "Registration", new { id = item.Id }, null)
                </td>
            </tr>
        }
    </tbody>
</table>
