@model StudInfoSys.ViewModels.GradeViewModel

@*<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    *@<fieldset>
        <legend>Grade</legend>

        <div class="editor-label">
            @Html.DisplayFor(model => model.PeriodName)
        </div>
        @*<div class="editor-field">
            
            @Html.ValidationMessageFor(model => model.PeriodName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.GradeValue)
        </div>*@
        <div class="editor-field">
            @Html.EditorFor(model => model.GradeValue)
            @Html.ValidationMessageFor(model => model.GradeValue)
        </div>

        @*<p>
            <input type="submit" value="Create" />
        </p>*@
    </fieldset>
@*}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@
