@model StudInfoSys.ViewModels.SubjectGradesRecordViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.RegistrationId)
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>SubjectGradesRecord</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.SubjectId, "Subject")
        </div>
        <div class="editor-field">
            @*@Html.DropDownList("SubjectId", String.Empty)*@
            @Html.DropDownListFor(model => model.SubjectId, Model.SubjectsList, "Select...")
            @Html.ValidationMessageFor(model => model.SubjectId)
        </div>

        <div id="grades-list" class="editor-label">
            TODO: List of Grades for the current registration


        </div>

        @{
            foreach (var period in Model.PeriodsList)
            {
                var newGrade = new StudInfoSys.ViewModels.GradeViewModel
                {
                    PeriodId = period.Id,
                    PeriodName = period.Name,
                    GradeValue = 93
                };
                @Html.Partial("_CreateGrades", newGrade); //NOTE: you have to use @
           
                Model.GradeViewModels.Add(newGrade);
           
            }
            //@Html.Partial("_CreateGrades", Model.Grades); //NOTE: you have to use @
        }


@*
        @{
            var periodList = Model.PeriodsList;
            for (int i = 0; i < periodList.Count(); i++)
            {
                var newGrade = new StudInfoSys.ViewModels.GradeViewModel
                {
                    PeriodId = periodList.ElementAt(i).Id,
                    PeriodName = periodList.ElementAt(i).Name,
                    GradeValue = 93
                };

                @Html.Partial("_CreateGrades", newGrade); //NOTE: you have to use @
                Model.Grades.Add(@newGrade);
            
            <div class="editor-label">
                @Html.DisplayFor(model => model.PeriodName)
            </div>
        
            <div class="editor-field">
                @Html.EditorFor(model => model.GradeValue)
                @Html.ValidationMessageFor(model => model.GradeValue)
            </div>
            }
        }*@

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
