@model StudInfoSys.ViewModels.SubjectGradesRecordViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.RegistrationId)
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>SubjectGradesRecord</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.SubjectId, "Subject")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.SubjectId, Model.SubjectsList, "Select...")
            @Html.ValidationMessageFor(model => model.SubjectId)
        </div>

        <div id="grades-list" class="editor-label">
        @{
            foreach (var period in Model.PeriodsList)
            {
                var newGrade = new StudInfoSys.ViewModels.GradeViewModel
                {
                    PeriodId = period.Id,
                    PeriodName = period.Name,
                    GradeValue = null
                };
                @Html.Partial("_CreateGradeViewModels", newGrade); //NOTE: you have to use @
           
                Model.GradeViewModels.Add(newGrade);
           
            }
        }
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index", new { id = Model.RegistrationId })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
