@model StudInfoSys.Models.SubjectGradesRecord

@{
    ViewBag.Title = "Delete";
}

<h2>Delete grade record of @Model.Registration.Student.FullName</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>SubjectGradesRecord</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Subject.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Subject.Name)
    </div>
    
    @{
        foreach (var grade in Model.Grades)
        {
        @Html.Partial("_DisplayGrades", grade);
        }
    }

</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index", new { id = Model.Registration.Id })
    </p>
}
