@model StudInfoSys.Models.SubjectGradesRecord

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>SubjectGradesRecord</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Subject.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Subject.Name)
    </div>
    
    @{
        foreach (var grade in Model.Grades)
        {
        @Html.Partial("_DisplayGrades", grade);
        }
    }
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index", new { id = Model.Registration.Id })
</p>
