@model StudInfoSys.ViewModels.RegistrationViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.StudentId)
    
    <fieldset>
        <legend>Registration</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.SchoolYearFrom)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SchoolYearFrom)
            @Html.ValidationMessageFor(model => model.SchoolYearFrom)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SchoolYearTo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SchoolYearTo)
            @Html.ValidationMessageFor(model => model.SchoolYearTo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SemesterId, "Semester")
        </div>
        <div class="editor-field">
            @*@Html.DropDownList("SemestersList", String.Empty)*@
            @Html.DropDownListFor(model => model.SemesterId, Model.SemestersList, "Select...")
            @Html.ValidationMessageFor(model => model.SemesterId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DegreeId, "Degree")
        </div>
        <div class="editor-field">
            @*@Html.DropDownList("DegreesList", String.Empty)*@
            @Html.DropDownListFor(model => model.DegreeId, Model.DegreesList, "Select...")
            @Html.ValidationMessageFor(model => model.DegreeId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateOfRegistration)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateOfRegistration)
            @Html.ValidationMessageFor(model => model.DateOfRegistration)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index", new { id = Model.StudentId })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
