@model StudInfoSys.Models.Registration

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Registration</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SchoolYearFrom)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SchoolYearFrom)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SchoolYearTo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SchoolYearTo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Semester.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Semester.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Degree.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Degree.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateOfRegistration)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateOfRegistration)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SchoolYear)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SchoolYear)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index", new { id = Model.Student.Id })
    </p>
}
