@model StudInfoSys.ViewModels.RegistrationViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Registration</legend>

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.StudentId)

        <div class="editor-label">
            @Html.LabelFor(model => model.SchoolYear)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.SchoolYearFrom, new { style = "width: 45px;" }) - @Html.TextBoxFor(model => model.SchoolYearTo, new { style = "width: 45px;" })            
        </div>
        <div class="editor-field">
            @Html.ValidationMessageFor(model => model.SchoolYearFrom)
        </div>
        <div class="editor-field">
            @Html.ValidationMessageFor(model => model.SchoolYearTo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SemesterId, "Semester")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.SemesterId, Model.SemestersList, "Select...")
            @Html.ValidationMessageFor(model => model.SemesterId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DegreeId, "Degree")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.DegreeId, Model.DegreesList, "Select...", new { style = "width: 500px;" })
            @Html.ValidationMessageFor(model => model.DegreeId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateOfRegistration)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateOfRegistration)
            @Html.ValidationMessageFor(model => model.DateOfRegistration)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index", new { id = Model.StudentId })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    
    <script type="text/javascript">
        $(function(){
            $("#DateOfRegistration").datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: "1900:2100"
            });
            

            $("#SchoolYearFrom").blur(function () {
                var yearFrom = $(this).val();
                $("#SchoolYearTo").val( parseInt(yearFrom) + 1 );
            });

            $("#SchoolYearTo").blur(function () {
                var yearFrom = $(this).val();
                $("#SchoolYearFrom").val(parseInt(yearFrom) - 1);
            });
        });
    </script>
}
